.academic__title{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:  rgba(240, 197, 197, 0.5); 
      height: 80px;
      margin: 5% 15% 5% 15%;
       
}
.academic__courses{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;   
}


