.hobbies{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    border: 15px solid #f0c5c5;;
    margin: 5% 15% 5% 15%
    
}
.hobbies__line{
    display: flex;
    justify-content: space-between;
}


.hobbies__box{
    align-self: center;
    padding: 5px;
    
}