.hobbies__line{
    display: flex;
    justify-content: space-around;
}

.hobbies__title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hobbies__box{
    align-self: center;
    padding: 5px;
    
}