.title__div{
  display: flex;
  align-items: center;
  background-color: #CD9494;
  color: #412626;
  font-family: popins;


}
.title__network{
  display:flex;
  height: 40px;
  width: 400px;
  justify-content: space-around;
  align-items: end;
  gap: 20px;
  

}

.title__profile{
  display: flex;
  align-self: flex-start;
}
.title__bio{
  font-size: 42px;
}
